.active-click{
    color: red !important;
}
 .active-click::after{
    content: "";
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: rgb(255, 69, 101);
    display: block;
}
.nav-item{
    list-style: none;
}
.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}