.navbar {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}
.navbar-brand img {
    height: 50px;
}
button.btn-rounded {
    border: none;
    border-radius: 25px;
    padding: 6px 20px;
    background: #ff4565;
}
.btn:hover {
    color: #212529;
    text-decoration: none;
}
.cart-style{
    font-size: 18px;
    margin-top: 8px;
}
.count {
    background-color: rgb(232, 231, 231);
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    display: inline-block;
    height: 17px;
    width: 17px;
    text-align: center;
}